nav {
    padding: var(--pd-1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav .input-box {
    text-align: center;
}

main {
    margin: 30px auto 0px;
    padding: var(--pd-1);
    width: 50%;
}

main>h3 {
    margin-bottom: var(--mng);
}

main .top-section {
    width: 100%;
}

.top-section .carrusel-container {
    width: 100%;
    height: fit-content;
}

.top-section .carrusel-container>ul {
    margin: var(--mng);
    padding: 0px 30px;
    width: 110%;
    height: 300px;
    display: flex;
    align-items: flex-end;
    gap: 40px;
    overflow: auto;
    -webkit-mask-image: linear-gradient(to right,
            transparent,
            black 10%,
            black 90%,
            transparent);

    mask-image: linear-gradient(to right,
            transparent,
            black 5%,
            black 90%,
            transparent);
}

.top-section .carrusel-container>ul::-webkit-scrollbar {
    scrollbar-width: none;
}

ul#searchBoxDropdown {
    width: 500px !important;
}

main .storage-section {
    width: 100%;
    overflow: visible;
}

.storage-section .storage-container {
    padding: var(--pd-1);
}

.storage-section .storage-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}


.desktop-section .carrusel-container {
    width: 110%;
}

.desktop-section .carrusel-container>ul {
    padding: 100px 0px 0px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.desktop-section .carrusel-container>ul::-webkit-scrollbar {
    scrollbar-width: none;
}

.desktop-section .carrusel-container>ul>li>article {
    transform: scale(1.5) rotateX(5deg);
    box-shadow: #2e424f44 0px -5px 10px 0px;
    ;
}